.nav{
	height: 50px;
	width: 100px;
	display: inline-block;
}

span{
	color: #BE2625;
}

#map{
	height: 500;
	width: 800;
}


/*#user_info{
	margin-left: 50px;
	position: absolute;
	width: 30px;
	height: 50px;
}

#address{
	text-overflow: ellipsis;
	width: 20px;
	white-space: nowrap;
	overflow: hidden;
}
#header{
	float: right;
}*/
