{% extends "hack_base_test.html" %}

{% block title %} Welcome to {% endblock %}

{% block head %}
	<form class="navbar-form pull-right" action="" method="post" name="login">
		{{form.hidden_tag()}}
		<span class="inline">{{form.email (class_='span2')}}
				{% for error in form.errors.email %}
					<span>[{{error}}]</span>
				{% endfor %}
		</span> 

		<span class="inline">{{form.password (class_='span2')}}
				{% for error in form.errors.password %}
					<span>[{{error}}]</span>
				{% endfor %}
		</span> 

		<button type="submit" class="btn inline">Sign In</button>
	</form>
{% endblock %}
{% block header %}
	
{% endblock %} <!-- This contains login information and logo-->

{% block content %}
	<div class="jumbotron">
		<h1>Welcome to UpNEPA!</h1>
		<p class="lead">Helping Nigerians Save!</p>
	</div>
	<div>
		<img id="map" src="http://bit.ly/198NNjV">
	</div>
{% endblock %}