{% extends "hack_base.html" %}

{% block title %} {{user.first_name}} {{user.last_name}} {% endblock %}

{% block header %} 
<h2>Welcome to UpNEPA! {{user.first_name}} {{user.last_name}}!</h2>
<a href="/logout">Logout</a>
{% endblock %}

{% block content %}
	<div id="user_info">
		<h3> {{user.first_name}} {{user.last_name}} </h3>
		<ul>
			<li>{{user.email}}</li>
			<li>{{user.phone}}</li>
			<li id="address">{{user.city}}, {{user.state}}, Nigeria</li>
		</ul>
	</div>

	<div>
		<table>
			<thead> Recent UpNEPA! Reports </thead>
			{% for event in events %}
				{% if event.event == 1 %}
				<tr>
					<td>UpNEPA!!!</td>
					<td class="timeago" title="{{event.timestamp.isoformat()}}">{{event.timestamp.isoformat()}}</td>
					<!-- <td class="timeago" title="2008-07-17T09:24:17Z">July 17, 2008</td> -->
					<!--class="timeago" title="{{event.timestamp.isoformat}}-->
				</tr>
				{% else %}
				<tr>
					<td>DownNEPA!!!</td>
					<td class="timeago" title="{{event.timestamp.isoformat()}}">{{event.timestamp.isoformat()}}</td>
					<!-- <td class="timeago" title="2008-07-17T09:24:17Z">July 17, 2008</td> -->
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}